<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marre.mapper.RuleMapper">

    <insert id="insert" useGeneratedKeys="false" keyProperty="id">
        insert into rule(rule, s_year, grade, create_time, update_time, create_user, update_user)
        VALUES (#{rule}, #{sYear}, #{grade}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update rule
        <set>
            <if test="rule != null and rule != ''">
                rule = #{rule},
            </if>
            <if test="sYear != null and sYear != ''">
                s_year = #{sYear},
            </if>
            <if test="grade != null and grade != ''">
                grade = #{grade},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from rule where id in
                         <foreach collection="list" open="(" close=")" separator="," item="id">
                             #{id}
                         </foreach>
    </delete>

    <select id="pageQuery" resultType="com.marre.entity.vo.RuleVO">
        select * from rule
        <where>
            <if test="sYear != null and sYear != ''">
                and s_year = #{sYear}
            </if>
            <if test="grade != null and grade != ''">
                and grade = #{grade}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getByYearAndGrade" resultType="com.marre.entity.Rule">
        SELECT * FROM rule
        <where>
            <if test="year != null">
                AND s_year = #{year}
            </if>
            <if test="grade != null">
                AND grade = #{grade}
            </if>
        </where>
    </select>
</mapper>